@model Candidate

<div>
    <h3 class="display-4">Tebrikler @Model.FullName</h3>
    <p class="lead">Başvurunuz onaylandı. <mark>Onaylandı</mark></p>
    <p class="lead">Başvurduğunuz için teşekkürler,</p>
    <hr>
    <blockquote class="blockquote">
        Kayıt olduğunuz kurs @Model.SelectedCourse 
    </blockquote>
    <p class="text-muted">Başvurduğunuz tarih @Model.ApplyAt</p>

    <div class="btn-group">
        <a class="btn btn-outline-success" asp-action="Index">Başvurular</a>
        <a class="btn btn-success" asp-action="Index" asp-controller="Home">Anasayfa</a>
    </div>
</div>